{% extends "base.html" %}
  {% block headcontent %}
  {% load staticfiles %}
   {% load material_form %}
  {% endblock headcontent%}
        {% block content %}
        {% include 'stmenu.html' %}
        <section class="blog-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                      <div class="posts-content single-post">

                        <article class="post-wrapper">

                          <header class="entry-header-wrapper clearfix">

                            <div class="entry-header">

                              <h2 class="entry-title">Verificar Presenças</h2>

                            </div><!-- .entry-header -->

                          </header><!-- /.entry-header-wrapper -->

                          <div class="entry-content">
                            <p style="text-align: center;">
                            {% for sub in subject %}
                              <button type="button" id="sub_" name="subject" value='{{sub.pk}}' class="btn">{{ sub }}</button>
                              {% if forloop.last %}
                            </p>
                            {% endif %}
                            {% endfor %}

                <div class="row mt-50">
                <h3 style="text-align: center;">Descarregar:</h3>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="mt-30" id="download"></div>
                    </div>
                </div><!-- /.row -->




                          </div><!-- .entry-content -->
                      </article><!-- /.post-wrapper -->
                    </div><!-- /.posts-content -->
                  </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        {% endblock content %}
{% block bellow_js %}
{% verbatim %}
<script>
    $("#sub_").click(function () {
      var subject = ( $(this).val() );

      $.ajax({
        type: 'GET',
        url: '/ajax/get_print_url/',
        data: {
          subject: subject
        },
        dataType: 'json',
        success: function (data) {
          $('#download').html('<a href="' + data[0].url + '" download="' + data[0].name + '"><button type="button" name="' + data[0].name + '" class="btn">' + data[0].name + '</button></a>');
        }
      });
    });
  </script>
{% endverbatim %}
{% endblock bellow_js %}
