{% extends "base.html" %}
  {% block headcontent %}
  {% load staticfiles %}
   {% load material_form %}
  {% endblock headcontent%}
        {% block content %}
        {% include 'stmenu.html' %}
        <section class="blog-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                      <div class="posts-content single-post">

                        <article class="post-wrapper">

                          <header class="entry-header-wrapper clearfix">

                            <div class="entry-header">

                              <h2 class="entry-title">Atualizar Turma</h2>

                            </div><!-- .entry-header -->

                          </header><!-- /.entry-header-wrapper -->

                          <div class="entry-content">
                            <p style="text-align: center;">
                            {% for g in grade %}
                              <button type="button" id="sub_{{ g.pk }}" name="grade" value='{{ g.pk }}' class="btn">{{ g }}</button>
                              {% if forloop.last %}
                            </p>
                            {% endif %}
                            {% endfor %}

                <div class="row mt-50">
                <h3 id="subtable" style="text-align: center;"></h3>
                    <div class="col-md-8 col-md-offset-2">

                        <div class="mt-30"></div>
                        <form>
                        <table class="table table-striped">
                            <thead id="thead">
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div><!-- /.row -->




                          </div><!-- .entry-content -->
                      </article><!-- /.post-wrapper -->
                    </div><!-- /.posts-content -->
                  </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        {% endblock content %}
{% block bellow_js %}
<script>
    {% for g in grade %}
    $("#sub_{{ g.pk }}" ).click(function () {
      var grade = ( $(this).val() );

      $.ajax({
        type: 'GET',
        url: '/ajax/get_students/',
        data: {
          grade: grade,
        },
        dataType: 'json',
        success: function (data) {
          $('#subtable').html('Turma {{ g }}');
          var $tr = $('<tr>').append(
                  $('<th>Foto</th><th>Nome</th><th>Turma</th>')).appendTo('#thead');
          $.each(data.student, function(i, e){
            var $tr = $('<tr>').append(
                $('<th scope="row"><img src="' + e.jpg + '" width="100" alt="' +  e.name + '" class="img-fluid" style="max-width: 100%; height: auto;" /></th><td>' + e.name + '</td><td>' + data.class.name + '</td>')).appendTo('#tbody');
          });
        }
      });
    });
    {% endfor %}
  </script>
{% endblock bellow_js %}
