{% extends "base.html" %}
{% load staticfiles %}
{% block headcontent %}
<!-- Search for these meta tags -->
<meta property="og:title"              content="{{ instance.title }}" />
{% if instance.headimage %}
<meta property="og:image"              content="{{ instance.headimage.medium.url }}" />
{% else %}
<meta property="og:image"              content="{% static '400x400_icone.png' %}" />
{% endif %}
<meta property="og:description"        content="{{ instance.content|striptags|safe|truncatechars_html:100 }}" />
<meta property="og:site_name"          content="Infantinho" />
<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:type"               content="article" />
<meta property="og:locale"             content="pt_PT" />
<meta property="fb:app_id"             content="1694858034111220" />
<!-- Author info -->
<meta property="article:author"        content="https://www.facebook.com/infantinho.xyz" />
<meta property="article:publisher"        content="https://www.facebook.com/infantinho.xyz" />





<!-- End -->
{% endblock headcontent %}
      {% block content %}
      {% include "stmenu.html" %}
        <!-- blog section start -->
        <section class="blog-section section-padding">
            <div class="container">
            {% if messages %}
              <p><h2 class="entry-title"><small>{% include 'sms.html' %}</small></h2></p>
            {% endif %}                <div class="row">
                    <div class="col-md-12">
                      <div class="posts-content single-post">

                        <article class="post-wrapper">

                          <header class="entry-header-wrapper clearfix">

                            <div class="author-thumb waves-effect waves-light">
                              <a href="#"><img src="{% static '400x400_icone.png' %}" alt=""></a>
                            </div>

                            <div class="entry-header">

                              <h2 class="entry-title">{{ instance.title }}</h2>

                              <div class="entry-meta">
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-user"></i><a href="mailto:{{ instance.user.email }}">{% if instance.user.get_full_name %}{{ instance.user.get_full_name }}{% else %} {{ instance.user }} {% endif %}</a>
                                    </li>

                                    <li>
                                        <i class="fa fa-clock-o"></i><a href="#">{{ instance.publish }}</a>
                                    </li>

                                    <li>
                                        <i class="fa fa-heart-o"></i><a href="#"><span>1</span></a> <!-- need to build logic to read likes -->
                                    </li>

                                    <li>
                                        <i class="fa fa-comment-o"></i><a href="#">3</a> <!-- need to build logic to get comments -->
                                    </li>
                                </ul>
                              </div><!-- .entry-meta -->

                            </div><!-- .entry-header -->

                          </header><!-- /.entry-header-wrapper -->

                          <div class="thumb-wrapper">
                            <img src="{{ instance.headimage.url }}" class="img-responsive" alt="" >
                          </div><!-- .thumb-wrapper -->

                          <div class="entry-content">
                            {{ instance.content|safe }}
                          </div><!-- .entry-content -->


                          <footer class="entry-footer">
                            <div class="post-tags">
                              <span class="tags-links">
                                <i class="fa fa-tags"></i><a href="#">{{ instance.tag }}</a>
                              </span>
                            </div> <!-- .post-tags -->

                            <ul class="list-inline right share-post">

                                <li><a target="_blank" href="https://www.facebook.com/dialog/share?app_id=1694858034111220&display=popup&href={{ request.build_absolute_uri }}" class='shareBtn'><i class="fa fa-facebook"></i> <span>Partilha</span></a>
                                </li>
                                <li><a target="_blank" href="https://twitter.com/intent/tweet?text={{ instance.title|safe }}&via=ProfIgorAlmeida&url={{ request.build_absolute_uri }}"><i class="fa fa-twitter"></i> <span>Tweet</span></a>
                                </li>
                            </ul>
                          </footer>
                              <script>
                              document.getElementById('shareBtn').onclick = function() {
                                FB.ui({
                                  method: 'share',
                                  mobile_iframe: true,
                                  href: '{{ request.build_absolute_uri }}',
                                }, function(response){});
                              }
                              </script>
                        </article><!-- /.post-wrapper -->



                        <!-- Need to implement comments -->

                      </div><!-- /.posts-content -->
                    </div><!-- /.col-md-12 -->

                  </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        <!-- blog section end -->
{% endblock content %}
{% block bellow_js %}
  {% load staticfiles %}
<script src="{% static 'js/jquery.fitvids.js' %}"></script>

<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $(".container").fitVids();
  });
</script>

{% endblock bellow_js %}
