        {% load staticfiles %}
        <!-- start revolution slider 5.0 -->
        <section class="rev_slider_wrapper">
         <div class="rev_slider materialize-slider">
          <ul>

            <!-- slide 1 start -->
            <li data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% static 'background.png' %}"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">

                <!-- MAIN IMAGE -->
                <img src="{% static 'background.png' %}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="500 500" data-offsetend="-700 -700" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <div class="tp-overlay"></div>
            </li>
            <!-- slide 1 end -->

           <!-- slide 2 start -->
            <li data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% static 'background.png' %}"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">

                <!-- MAIN IMAGE -->
                <img src="{% static 'background.png' %}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="-700 -700" data-offsetend="500 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <div class="tp-overlay"></div>
            </li>
            <!-- slide 2 end -->

            <!-- slide 3 start -->
            <li data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% static 'background.png' %}"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">

                <!-- MAIN IMAGE -->
                <img src="{% static 'background.png' %}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="500 500" data-offsetend="-500 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <div class="tp-overlay"></div>
            </li>
            <!-- slide 3 end -->

            <!-- slide 4 start -->
            <li data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% static 'background.png' %}"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">

                <!-- MAIN IMAGE -->
                <img src="{% static 'background.png' %}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="-500 500" data-offsetend="-500 -500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <div class="tp-overlay"></div>
            </li>
            <!-- slide 4 end -->

            <!-- slide 5 start -->
            <li data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{% static 'background.png' %}"  data-rotate="0"  data-saveperformance="off"  data-title="" data-description="">

                <!-- MAIN IMAGE -->
                <img src="{% static 'background.png' %}"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="-500 -500" data-offsetend="500 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                <div class="tp-overlay"></div>
            </li>
            <!-- slide 5 end -->

           </ul>

         </div><!-- end revolution slider -->
        </section><!-- end of slider wrapper -->
